@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;



.homepage-container {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: #f0f0f0; /* Example background color */
    /* Additional styles as needed */
    margin: 0;
    padding: 0;

  }

  .main{
    /* width: 100%; */
    /* padding: 100; */
    margin: 0;
  }
  